body {
    margin: 0;
}
.app-header{
    background-color: purple;
    height: 100px;
}

.app-header-text {
    text-align: center;
    padding-top: 30px;
}

.app-body {
    background-color: pink;
    height: 300px;
}

.app-body-text {
    text-align: center;
    padding-top: 140px;
}

.app-footer{
    background-color: black;
    height: 120px;
    color: white;
}
.app-footer {
    text-align: center;
    padding-top: 60px;
}
